__pycache__/auxilio.cpython-39.pyc
__pycache__/bot.cpython-39.pyc
__pycache__/main.cpython-39.pyc
__pycache__/movidesk.cpython-39.pyc
__pycache__/vacinacuiaba.cpython-39.pyc
__pycache__/views.cpython-39.pyc
__pycache__/*