{% extends "template.html" %}
{% block conteudo %}
        <table class="table table-striped table-responsive table-bordered">
            <thead class="thead-default">
                <tr>
                    <th>Robozão</th>
                    <th>Funcionalidades</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td rowspan="2" width=300><img alt="" height="200" src="{{ url_for('imagem_static', nome_arquivo='robozao.png') }}" 
                        style="float:left"  /></a></td>
                    <td style='text-align:center;vertical-align:middle'> 
                        <h2>Consultar o Vacina Cuiabá</h2>
                        <form action="{{ url_for('vacina') }}" method="post" enctype="multipart/form-data">
                            <div class="form-group">
                                <label for="nome" >CPF para Consultar</label>
                                <input type="text" id="cpf" name="cpf" class="form-control" placeholder="CPF a ser Consultado">
                            </div>
                            <button type="submit" class="btn btn-primary btn-salvar">Consultar o Vacina Cuiabá</button>
                        </form>
                    </td>

                </tr>
                <tr>
                    <td style='text-align:center;vertical-align:middle'>
                        <h2>Gerar PDF's do MoviDesk</h2>
                        <form action="{{ url_for('PdfMovidesk') }}" method="post" enctype="multipart/form-data">
                            <div class="form-group">
                                <label for="nome">Tickets para Gerar PDF's</label>
                                <textarea  rows="3" id="tickets" name="tickets" class="form-control" placeholder="Coloque os Tickets separados por , (vírgula) ou enter, limite máximo de 20"></textarea>
                            </div>
                            <div class="form-group">
                                <label for="nome">Endereço do Computador para Salvar PDF's</label>
                                <input type="text" id="endereco" name="endereco" class="form-control" placeholder='C:\Downloads por exemplo'>
                            </div>
                            <div class="form-group">
                                <input type="checkbox" id="historico" name="historico" checked>
                                <label for="historico">Histório de Alteração</label>
                            </div>
                            <button type="submit" class="btn btn-primary btn-salvar">Gerar PDF's do MoviDesk</button>
                        </form>

                    </td>
                </tr>
            </tbody>
        </table>
{% endblock %}